In [1]:
import yfinance as yf

In [3]:
tsla = yf.Ticker('TSLA')

In [9]:
tsla.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-11-22,1162.329956,1201.949951,1132.430054,1156.869995,33072500,0,0
2021-11-23,1167.510010,1180.500000,1062.699951,1109.030029,36171700,0,0
2021-11-24,1080.390015,1132.770020,1062.000000,1116.000000,22560200,0,0
2021-11-26,1099.469971,1108.780029,1081.000000,1081.920044,11680900,0,0
2021-11-29,1100.989990,1142.670044,1100.189941,1136.989990,19464500,0,0
2021-11-30,1144.369995,1168.000000,1118.000000,1144.760010,27092000,0,0
2021-12-01,1160.699951,1172.839966,1090.760010,1095.000000,22816800,0,0
2021-12-02,1099.060059,1113.000000,1056.650024,1084.599976,24371600,0,0
2021-12-03,1084.790039,1090.579956,1000.210022,1014.969971,30696300,0,0
2021-12-06,1001.510010,1021.640015,950.500000,1009.010010,27221000,0,0
2021-12-07,1044.199951,1057.670044,1026.810059,1051.750000,18694900,0,0
2021-12-08,1052.709961,1072.380005,1033.000000,1068.959961,13968800,0,0
2021-12-09,1060.640015,1062.489990,1002.359985,1003.799988,19812800,0,0
2021-12-10,1008.750000,1020.979980,982.530029,1017.030029,19855000,0,0
2021-12-13,1001.090027,1005.000000,951.419983,966.409973,26198500,0,0
2021-12-14,945.000000,966.409973,930.000000,958.510010,23602100,0,0
2021-12-15,953.210022,978.750000,928.250000,975.989990,25056400,0,0
2021-12-16,994.500000,994.979980,921.849976,926.919983,27590500,0,0
2021-12-17,914.770020,960.659973,909.039978,932.570007,33479100,0,0
2021-12-20,910.700012,921.690002,893.390015,899.940002,18826700,0,0
2021-12-21,916.869995,939.500000,886.119995,938.530029,23412000,0,0

In [8]:
yf.download('SPY TSLA AAPL',period='5y',inter)

[*********************100%***********************]  3 of 3 completed

             Adj Close                               Close              \
                  AAPL         SPY        TSLA        AAPL         SPY
Date
2015-12-31   24.230721  182.665192   48.001999   26.315001  203.869995
2016-01-04   24.251434  180.111633   44.681999   26.337500  201.020004
2016-01-05   23.643713  180.416260   44.686001   25.677500  201.360001
2016-01-06   23.181011  178.140472   43.807999   25.174999  198.820007
2016-01-07   22.202669  173.866592   43.130001   24.112499  194.050003
...                ...         ...         ...         ...         ...
2020-12-24  131.161407  364.143646  661.770020  131.970001  369.000000
2020-12-28  135.852509  367.271973  663.690002  136.690002  372.170013
2020-12-29  134.043640  366.571289  665.989990  134.869995  371.459991
2020-12-30  132.900711  367.094330  694.780029  133.720001  371.989990
2020-12-31  131.877014  368.959473  705.669983  132.690002  373.880005

                              High                                 Low  \
                  TSLA        AAPL         SPY        TSLA        AAPL
Date
2015-12-31   48.001999   26.757500  205.889999   48.689999   26.205000
2016-01-04   44.681999   26.342501  201.029999   46.276001   25.500000
2016-01-05   44.686001   26.462500  201.899994   45.377998   25.602501
2016-01-06   43.807999   25.592501  200.059998   44.009998   24.967501
2016-01-07   43.130001   25.032499  197.440002   43.688000   24.107500
...                ...         ...         ...         ...         ...
2020-12-24  661.770020  133.460007  369.029999  666.090027  131.100006
2020-12-28  663.690002  137.339996  372.589996  681.400024  133.509995
2020-12-29  665.989990  138.789993  374.000000  669.900024  134.339996
2020-12-30  694.780029  135.990005  373.100006  696.599976  133.399994
2020-12-31  705.669983  134.740005  374.660004  718.719971  131.720001

                                          Open                          \
                   SPY        TSLA        AAPL         SPY        TSLA
Date
2015-12-31  203.869995   47.674000   26.752501  205.130005   47.702000
2016-01-04  198.589996   43.799999   25.652500  200.490005   46.144001
2016-01-05  200.050003   44.000000   26.437500  201.399994   45.271999
2016-01-06  197.600006   43.195999   25.139999  198.339996   44.000000
2016-01-07  193.589996   42.734001   24.670000  195.330002   42.838001
...                ...         ...         ...         ...         ...
2020-12-24  367.450012  641.000000  131.320007  368.079987  642.989990
2020-12-28  371.070007  660.799988  133.990005  371.739990  674.510010
2020-12-29  370.829987  655.000000  138.050003  373.809998  661.000000
2020-12-30  371.570007  668.359985  135.580002  372.339996  672.000000
2020-12-31  371.230011  691.119995  134.080002  371.779999  699.989990

               Volume
                 AAPL        SPY      TSLA
Date
2015-12-31  163649200  114877900  13575000
2016-01-04  270597600  222353500  34135500
2016-01-05  223164000  110845800  15934000
2016-01-06  273829600  152112600  18895500
2016-01-07  324377600  213436100  17771500
...               ...        ...       ...
2020-12-24   54930100   26457900  22865600
2020-12-28  124486200   39000400  32278600
2020-12-29  121047300   53680500  22910800
2020-12-30   96452100   49455300  42846000
2020-12-31   99116600   78520700  49649900

[1260 rows x 18 columns]